body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    text-align: center;
}

.container h2 {
    color: #333;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 200px;
    border-bottom: 3px solid #bb0e0e;
    display: inline-block;
    padding-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: -160px;
    border-radius: 20px;
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
}

th {
    background-color: #091409;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

td {
    background-color: #f9f9f9;
}

tr:hover td {
    background-color: #e6f7ff;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}

.back-btn{
    background-color: #bb0e0e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
}

.no-history-message {
    color: #777;
    font-size: 18px;
    margin-top: 20px;
    padding: 20px 0;
}


